@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(white)
    )
    rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



  .Indicator {
    top: -170%;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 20px;
}

.Indicator::before {
  content: "";
  position: absolute;
  top: 80%;
  left: -14px;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  background: transparent;
  box-shadow: 1px -10px 0 0 #ffffff;
  border-top-right-radius: 20px;
}
.Indicator::after {
  content: "";
  position: absolute;
  top: 80%;
  right: -14px;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  background: transparent;
  box-shadow: -1px -10px 0 0 #ffffff;
  border-top-left-radius: 20px;
}